@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this CSS to your stylesheet */

/* Define a class for the scrollbar track (the background) */
.scrollbar-track {
  --scrollbar-background: #f3f4f6; /* Light background color */
  --scrollbar-hover-background: #e5e7eb; /* Darker background color on hover */
}

.scrollbar-track::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

.scrollbar-track::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

.scrollbar-track::-webkit-scrollbar-track:hover {
  background: var(--scrollbar-hover-background);
}

/* Define a class for the scrollbar handle */
.scrollbar-thumb {
  --scrollbar-thumb-color: #d1d5db; /* The color of the scrollbar handle */
  --scrollbar-thumb-hover-color: #bec5cc; /* Slightly darker scrollbar handle on hover */
  --scrollbar-border-color: #f3f4f6; /* Border color */
}

.scrollbar-thumb::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 20px; /* Rounded corners on the scrollbar handle */
  border: 3px solid var(--scrollbar-border-color); /* Creates a border inside the scrollbar track */
}

.scrollbar-thumb::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}
