@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin; /* Options: 'auto', 'thin', 'none' */
  scrollbar-color: #9d9d9d; /* Thumb and track color */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* Adjusts the width of the vertical scrollbar */
}

*::-webkit-scrollbar-track {
  margin-top: 500px;
  margin-bottom: 500px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c5c5c5; /* Thumb color */
  border-radius: 10px;
}

/* Chat scroll functionality  */
/* Messages components */

.scroller {
  overflow-anchor: auto !important;
}

.scroller-content .item {
  transform: translateZ(0); /* Fixes Safari iOS bug */
}
